<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Sign up</h3>
  </div>
  
  <div class="panel-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>
  <p><div class="actions">
    <%= f.submit "Sign up", class: "btn btn-success" %>
  </div></p>
  
<% end %>
</div>
  <div class="panel-footer">
  <%- if controller_name != 'sessions' %>
    <%= link_to "Or maybe you want to log in?", new_session_path(resource_name) %><br />
  <% end %>
  </div>
</div>

