<style>
  .field, .btn {
    margin-top: 1em;
    margin-left: 1.5em;
  }
  
  .form-control {
    width: 70%;
  }
</style>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Forgot your password?</h3>
  </div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-warning" %>
  </div>
<% end %>
</div>

