<h1>Listing Cryptos</h1>
<br />
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>

      <th>Name</th>
      <th>Current Price</th>
      <th>1h Change</th>
      <th>24h Change</th>
      <th>7 Days Change</th>
      <th>Current Value</th>
      <th>Total Paid</th>
      <th>Profit</th>
      <th>Cost Payed Per</th>
      <th>Amount Owned</th>
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
      <% if crypto.user_id == current_user.id %>
        <% if crypto.symbol %>
          <% crypto.symbol = crypto.symbol.upcase %>
        <% end %>
        <tr>
          <% for x in @coins_search %>
              <% if crypto.symbol == x["symbol"] %>
                  <td><%= link_to x["name"], crypto %></td>
                  <td><%= number_to_currency(x["price_usd"].to_d) %></td>
                  <td><%= x["percent_change_1h"] %>%</td>
                  <td><%= x["percent_change_24h"] %>%</td>
                  <td><%= x["percent_change_7d"]%>%</td>
                  <td>$<%= (x["price_usd"].to_d * crypto.amount_owned).round(2) %></td>
                  <td>$<%= (x["price_usd"].to_d * crypto.amount_owned).round(3) %></td>
                  <td><%= number_to_currency((x["price_usd"].to_d * crypto.amount_owned)- (crypto.cost_per*crypto.amount_owned)) %></td>
                  <% @profit_loss += (x["price_usd"].to_d * crypto.amount_owned) - (crypto.cost_per*crypto.amount_owned) %>
              <% end %>
          <% end %>
          <td>$<%= crypto.cost_per %></td>
          <td><%= crypto.amount_owned %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br />
<br />
<strong>Portfolio profits/losses</strong> <%= number_to_currency(@profit_loss) %>
<br />
<br />
<%= link_to 'New Crypto', new_crypto_path, class: "btn btn-default" %>
