<!-- <p id="notice"><%= notice %></p> -->


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add a new cryptocurrency</h3>
  </div>
  
  <div class="panel-body">
    <p>
      <h3><%= @crypto.symbol %>()</h3>
    </p>
    
    <p>
      <strong>Cost per:</strong>
      <%= @crypto.cost_per %>
    </p>
    
    <p>
      <strong>Amount owned:</strong>
      <%= @crypto.amount_owned %>
    </p>
  </div>
  
  <div class = "panel-footer">
    <%= link_to 'Edit', edit_crypto_path(@crypto) %> |
    <%= link_to 'Delete Cryptocurrency', crypto_path(@crypto), method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', cryptos_path %>
  </div>
   </div>
